html{
    scroll-behavior: smooth;
}


body {
    width: 100%;
    background: cadetblue !important;
}

.img{
    width: 100px;
    height: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    opacity: 80%;
    width: 100% !important;
    height: 30px;
    background-color: darkslategrey;
    color: white;

}

.navbar {
    opacity: 80%;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 30px 30px;
    background-color: darkslategrey;
    font-size: 30px;
    color: white;
}

a{
    text-decoration: none !important;
    color:white !important;
}

.scroll {
    position: fixed;
    bottom: 60px;
    right: 30px;
    display: none;
}

